body{
	background-color: rgba(242, 242, 242, 1);
	margin: 0;
	padding: 0;
}

img{
	display: block;
	width: 500px;
	margin: auto;
	margin-top: 100px;
}

#bloc_login{
	margin-top: 80px;
}

#bloc_login_center{
	width: 400px;
	margin: auto;
}

#bloc_login_center input[type="text"], #bloc_login_center input[type="password"]{
	width: 100%;
	max-width: 380px;
	height: 50px;
	border-radius: 8px;
	margin-bottom: 10px;
	padding: 0px 10px 0px 10px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px rgba(200, 200, 200, 1) solid;
	font-family: calibri, arial, sans-serif;
	color: rgba(50, 50, 50, 1);
	font-size: 16px;
}

#bloc_login_center input:active, #bloc_login_center input:focus{
	outline: 0;
}

#bloc_login_center input[type="submit"]{
	width: 100%;
	height: 50px;
	border-radius: 8px;
	background-color: rgba(200, 200, 200, 1);
	border: 0;
	font-family: calibri, arial, sans-serif;
	color: rgba(255, 255, 255, 1);
	font-size: 16px;
	cursor: pointer;
}

#bloc_login_center input[type="submit"]:hover{
	background-color: rgba(156, 212, 0, 1);
}


/* Page suivi */

/* Liste */

#bloc_1{
	cursor: default;
	width: 840px;
	margin: 40px 0px 150px 320px;
	font-family: calibri, arial, sans-serif;
	font-size: 0;
}

#bloc_1 .task{
	margin-bottom: 40px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 4px;
}

#bloc_1 .task:hover{
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

#bloc_1 h1{
	display: inline-block;
	width: 100%;
	margin: 10px 0px 10px 0px;
	padding-bottom: 5px;
	border-bottom: 1px rgba(0, 0, 0, 1) solid;
	font-weight: bold;
	font-size: 20px;
}

#bloc_1 .detail_1, #bloc_1 .detail_0{
	display: inline-block;
	width: 800px;
	height: 50px;
	border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

#bloc_1 .detail_1{
	color: rgba(0, 0, 0, 0.9);
}

#bloc_1 .detail_0{
	color: rgba(0, 0, 0, 0.3);
}

#bloc_1 .detail_libelle{
	display: inline-block;
	vertical-align: middle;
	width: 350px;
	padding: 0px 5px 0px 15px;
	font-size: 16px;
}

#bloc_1 .detail_avancement{
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	text-align: right;
	font-size: 16px;
}

#bloc_1 .detail_jauge{
	display: inline-block;
	vertical-align: middle;
	width: 240px;
	height: 50px;
}

#bloc_1 .detail_temps{
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	font-size: 16px;
}

#bloc_1 .detail_cout{
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	font-size: 16px;
	font-weight: bold;
}

#bloc_1 .jauge{
	display: inline-block;
	height: 14px;
	margin: 18px 0px 0px 5px;
	border-radius: 4px;
}

/* Résumé */

#bloc_2{
	cursor: default;
	width: 180px;
	padding: 20px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 1);
	font-family: calibri, arial, sans-serif;
	position: fixed;
	top: 40px;
	left: 40px;
}

#bloc_2 h1{
	display: inline-block;
	width: 100%;
	margin: 10px 0px 10px 0px;
	padding-bottom: 5px;
	border-bottom: 1px rgba(0, 0, 0, 1) solid;
	font-weight: bold;
	font-size: 20px;
}

#bloc_2 h2{
	display: inline-block;
	margin: 15px 10px 0px 0px;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.9);
}

#bloc_2 .montant{
	font-weight: bold;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.9);
}

#bloc_2 .heures{
	font-size: 13px;
	font-style: italic;
	color: rgba(0, 0, 0, 0.3);
}

#bloc_2 #tarif{
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	padding-top: 5px;
	border-top: 1px rgba(0, 0, 0, 0.1) solid;
	font-size: 13px;
	color: rgba(130, 175, 5, 1);
}

/* Récap */

.recap{
	cursor: default;
	width: 180px;
	display: none;
	padding: 20px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 1);
	font-family: calibri, arial, sans-serif;
	position: fixed;
	top: 40px;
	left: 40px;
	z-index: 1;
}

.recap h1{
	display: inline-block;
	width: 100%;
	margin: 10px 0px 10px 0px;
	padding-bottom: 5px;
	border-bottom: 1px rgba(0, 0, 0, 1) solid;
	font-weight: bold;
	font-size: 20px;
}

.recap h2{
	display: inline-block;
	margin: 15px 10px 0px 0px;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.9);
}

.recap .montant{
	font-weight: bold;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.9);
}

.recap .heures{
	font-size: 13px;
	font-style: italic;
	color: rgba(0, 0, 0, 0.3);
}

.recap #tarif{
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	padding-top: 5px;
	border-top: 1px rgba(0, 0, 0, 0.1) solid;
	font-size: 13px;
	color: rgba(130, 175, 5, 1);
}

#task_1:hover+#recap_1, #task_2:hover+#recap_2, #task_3:hover+#recap_3, #task_4:hover+#recap_4, #task_5:hover+#recap_5,
#task_6:hover+#recap_6, #task_7:hover+#recap_7, #task_8:hover+#recap_8, #task_9:hover+#recap_9, #task_10:hover+#recap_10,
#task_11:hover+#recap_11, #task_12:hover+#recap_12, #task_13:hover+#recap_13, #task_14:hover+#recap_14, #task_15:hover+#recap_15,
#task_16:hover+#recap_16, #task_17:hover+#recap_17, #task_18:hover+#recap_18, #task_19:hover+#recap_19, #task_20:hover+#recap_20,
#task_21:hover+#recap_21, #task_22:hover+#recap_22, #task_23:hover+#recap_23, #task_24:hover+#recap_24, #task_25:hover+#recap_25,
#task_26:hover+#recap_26, #task_27:hover+#recap_27, #task_28:hover+#recap_28, #task_29:hover+#recap_29, #task_30:hover+#recap_30,
#task_31:hover+#recap_31, #task_32:hover+#recap_32, #task_33:hover+#recap_33, #task_34:hover+#recap_34, #task_35:hover+#recap_35,
#task_36:hover+#recap_36, #task_37:hover+#recap_37, #task_38:hover+#recap_38, #task_39:hover+#recap_39, #task_40:hover+#recap_40,
#task_41:hover+#recap_41, #task_42:hover+#recap_42, #task_43:hover+#recap_43, #task_44:hover+#recap_44, #task_45:hover+#recap_45,
#task_46:hover+#recap_46, #task_47:hover+#recap_47, #task_48:hover+#recap_48, #task_49:hover+#recap_49, #task_50:hover+#recap_50{
	display: block;
}